.ui-content {
  min-height: 100%; }

.view-switcher {
  padding: 0.5em;
  font-weight: normal;
  position: absolute;
  right: 0; }

/* styles for validation helpers */
.field-validation-error {
  color: #e80c4d;
  font-weight: bold; }

.field-validation-valid {
  display: none; }

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
  border: solid 1px #e80c4d; }

.validation-summary-errors {
  color: #e80c4d;
  font-weight: bold;
  font-size: 1.1em; }

.validation-summary-valid {
  display: none; }

div[data-role='header'] {
  padding-bottom: 10px; }

div[data-role='content'] {
  padding: 1px 5px 5px 5px; }

@media (max-width: 768px) {
  div[data-role='header'] {
    padding-bottom: 10px; }
    div[data-role='header'] h4 {
      font-size: 1em; } }

@media (max-width: 480px) {
  div[data-role='header'] {
    padding-bottom: 60px; }
    div[data-role='header'] h4 {
      display: none; }
  div[data-role='content'] {
    padding: 1px 5px 5px 5px; }
  div[data-role='tabs'] {
    padding-left: 0 !important; } }

@media (max-height: 400px) {
  div[data-role='header'] {
    display: none; }
  div[data-role='footer'] {
    display: none; }
  div[data-role='content'] {
    padding: 0; }
  div[data-role='tabs'] {
    padding-left: 0 !important; } }
