.page-container,
.sidebar,
.view-content-wrapper {
    position: relative;
}
.sidebar {
    background-color: rgba(245, 245, 245, 1);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.23s ease;
    transition: all 0.2s ease;    
}
.view-content-wrapper {
    background-color: #fff;
}

.sidebar-content-list {
    padding-left: 0;
    list-style: none;
    float: left;
    margin: 0;
}

@media all and (min-width: 768px) {
    .sidebar-content-list > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 20px;
        position: relative;
        display: block;
        padding: 10px 15px;
    }
}

@media (min-width: 769px) {
	.page-container {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	.page-wrapper {
		display: table-row;
	}
	.view-content-wrapper,
	.sidebar, .sidebar.collapsing, .sidebar.collapse {
		display: table-cell;
		vertical-align: top;
	}
	.sidebar, .sidebar-content, .sidebar.collapse.in {
		width: 230px;
        border: 1px rgba(225, 225, 225, 1) solid;
	}
    .sidebar.collapsed {
        width: 2px;
    }

    .sidebar-content-title {
        text-align: center;
    }
    .sidebar-content li {
        margin: 5px;        
    }
    .sidebar-content li .input-group {
        z-index: 0;
    }
    .view-content-wrapper {
        background: #DDD;
    }
    .view-content {
        padding-left: 0;
    }
    .content-table {
        border-top: 2px rgba(225, 225, 225, 1) solid;
        padding-top: 10px;
    }
    .content-row-details {
        border-top: 2px rgba(225, 225, 225, 1) solid;
        border-bottom: 2px rgba(225, 225, 225, 1) solid;
        padding: 10px 0px;
    }
    .react-bs-table-tool-bar {
        padding: 30px !important;
    }
    .react-bs-table-container {
        background: #BBB;
    }
    .react-bs-table-tool-bar {
        height: 0;
    }
    .react-bs-table-pagination {
        margin: 40px !important;
    }
    .table-striped {
        background: #DDD;
    }
    .table-striped tbody tr.highlight {
    }
    .work-order-details-textarea {
    }
    .label-section {
        margin-left: 10px;
    }
    .row-form-detail {
        margin: 5px 0;
    }
    .hidden-print-noname {
        
    }
    .content-row-details {
        
    }
    .panel-body {
        background:#BBB;
    }
    .nav-tabs {
        background: #BBB;
    }
    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        background: #DDD;
    }
    .tab {
        
    }
    .col-md-1 > label, .col-md-2 > label,.col-md-3 > label,.col-md-4 > label,.col-md-5 > label,.col-md-6 > label,.col-md-7 > label,.col-md-8 > label,.col-md-9 > label,.col-md-10 > label,.col-md-11 > label,.col-md-12 > label {
        margin-top: 6px;        
    }
    .tab-Restroom {
        height: 250px;
    }
}