<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="RestroomContext"
         connectionString="data source=SqlTest03a\Prod01;initial catalog=RestroomFinderDemo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EmployeeEntities"
         connectionString="metadata=res://*/EmployeeContext.csdl|res://*/EmployeeContext.ssdl|res://*/EmployeeContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SqlTest02a\Prod01;initial catalog=EmployeeDW;integrated security=True;;min pool size=2;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
  <appSettings>
    <add key="iOSFolder" value="d:\Projects\demo\ACTransit.Mobile.Apps\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="androidFolder" value="d:\Projects\demo\ACTransit.Mobile.Apps\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="iOSDownloadPath" value="https://demoapps.actransit.org/Mobile/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="androidDownloadPath" value="https://demoapps.actransit.org/Mobile/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IPThrottlingWhiteList" value="::1, 127.0.0.1, 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/12" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultApiVersion" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>