<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="SMS" type="ACTransit.Framework.Notification.SmsSection, ACTransit.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="RestroomContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=RestroomFinder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
		<add name="RestroomContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|RestroomFinder2.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<!--<add name="RestroomContext" connectionString="data source=(local);initial catalog=RestroomFinder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
		<add name="EmployeeEntities" connectionString="metadata=res://*/EmployeeContext.csdl|res://*/EmployeeContext.ssdl|res://*/EmployeeContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|EmployeeDW.mdf;integrated security=True;;min pool size=2;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<SMS name="MainSms" provider="Twilio" sid="0000000000000000000000000000000000" token="00000000000000000000000000000000" baseUrl="https://api.twilio.com" requestUrl="/2010-04-01/Accounts/{accountSid}/Messages.json" active="true">
		<numbers>
			<add number="1234567890" countryCode="+1" />
		</numbers>
	</SMS>
	<appSettings>
		<add key="iOSFolder" value="d:\Projects\ACTransit.Mobile.Apps\" />
		<add key="androidFolder" value="d:\Projects\ACTransit.Mobile.Apps\" />
		<add key="iOSDownloadPath" value="https://your.company.domain/Mobile/" />
		<add key="androidDownloadPath" value="https://your.company.domain/Mobile/" />
		<add key="IPThrottlingWhiteList" value="::1, 127.0.0.1, 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/12" />
		<add key="DefaultApiVersion" value="1" />
		<add key="JobTitlesAccessToAddRestroom" value="Transportation Supervisor,Sr. Transportation Supervisor,Assistant Director of Transp,Director of Transportation,Senior Schedule Analyst,Software Engineer,Enterprise Software Engineer" />
		<add key="JobTitlesAccessToEditRestroom" value="Transportation Supervisor,Sr. Transportation Supervisor,Assistant Director of Transp,Director of Transportation,Senior Schedule Analyst,Software Engineer,Enterprise Software Engineer" />
		<add key="KMLDownloadUrl" value="https://your.company.domain/RestroomFinder2/kml/restrooms?api_key=00000000-0000-0000-0000-000000000000" />
		<add key="MemoryCacheTime" value="3600" />
		<add key="OnIntervalTime" value="3600" />
		<add key="KMLToken" value="00000000-0000-0000-0000-000000000000" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="ACTransit.RestroomFinder.noreply@your.email.account">
				<network host="your.company.smtp.server" />
			</smtp>
		</mailSettings>
	</system.net>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.6.2" />
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<!-- https://github.com/stefanprodan/WebApiThrottle -->
	<throttlePolicy limitPerSecond="5" limitPerMinute="300" ipThrottling="true" clientThrottling="true" endpointThrottling="true">
		<rules>
			<!--Endpoint rules-->
			<add policyType="3" entry="api/Feedback" limitPerHour="20" />
			<add policyType="3" entry="api/Restrooms" limitPerHour="2000" />
			<add policyType="3" entry="api/Operator" limitPerHour="500" />
			<add policyType="3" entry="api/v2/Feedback/" limitPerHour="20" />
			<add policyType="3" entry="api/v2/Restrooms/" limitPerHour="2000" />
			<add policyType="3" entry="api/v2/Operator/" limitPerHour="2000" />
			<add policyType="3" entry="api/v2/Authentication" limitPerHour="500" />
			<add policyType="3" entry="api/v2/Authentication/send" limitPerMinute="2" limitPerHour="50" />
			<add policyType="3" entry="api/Version/" limitPerHour="500" />
		</rules>
		<whitelists>
			<!--Ip whitelist-->
			<add policyType="1" entry="127.0.0.1" />
		</whitelists>
	</throttlePolicy>
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
</configuration>
