@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="approot"></div>

@section head{
    <link href="~/Content/app/view.css" media="all" rel="stylesheet"/>
    <link href="~/Content/react-bootstrap-table.min.css" media="all" rel="stylesheet" />
}

@section scripts
{
    <script>
        //$(document).ready(function () {
        //});
    </script>
}